<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wasu.es.mapper.StatUserDistrictMapper" >
  <resultMap id="BaseResultMap" type="com.wasu.es.model.StatUserDistrict" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="district_id" property="districtId" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmr_update" property="gmrUpdate" jdbcType="TIMESTAMP" />
  </resultMap>
  
	<delete id="deleteUserDistrict">
		delete from stat_user_district where user_id = #{userId}
	</delete>
	
	 <insert id="insertBatchDistrict" parameterType="java.util.List">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
			insert into stat_user_district
			(district_id,user_id)
			values
		<foreach collection="list" item="l" index="index" separator=",">
			(
			#{l.districtId}, #{l.userId}
			)
		</foreach>
	</insert>
</mapper>